@(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/options.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javacript"></script>
  </head>
  <body>
  
	<!-- Top Banner -->
	
	<!-- Menus -->
	
    @content
	
	<!--bottom banner-->
	
  </body>
</html>