@(logedIn: Boolean)(role: String)(name: String)
@mainTemplate("New Article")(logedIn)(role)(name){

	<dl>
		<a id"HomeLink" href="/UNA">Home Page</a>
	</dl>
	
	<h1>Article Editor</h1>
	
	<form action="/createArticle" method="POST">
        <table>  
      	  <tbody>  
      	  <tr>  
      	     <th>Article Name</th>
			 <th>Tag</th>
      	  </tr>  
      	  <tr>  
      	     <td><input  type="text"  size="20"  name="name"  value=""></td>
			 <td><input  type="text"  size="20"  name="tag"  value=""></td>
      	  </tr>
          </tbody>  
        </table>
		<p>Write your content</p>
		<div>
			<textarea id="articleContentEditor" name="content" rows="5" cols="50" value=""></textarea>
		</div>
		<button type="submit">Post</button>
     </form>
	
}