@(user : User)(logedIn : Boolean)
@mainTemplate("New Article")(logedIn){

	<dl>
		<a id"HomeLink" href="/UNA">Home Page</a>
	</dl>
	
	<h1>Article Editor</h1>
	
	<form action="/createArticle" method="POST">
        <table>  
      	  <tbody>  
      	  <tr>  
      	     <th>Article Name</th>
			 <th>Theme</th>
      	  </tr>  
      	  <tr>  
      	     <td><input  type="text"  size="20"  name="name"  value=""></td>
			 <td><input  type="text"  size="20"  name="theme"  value=""></td>
      	  </tr>
          </tbody>  
        </table>
		<p>Write your content</p>
		<div>
			<input  type="text" name="content" size="100" value="">
		</div>
		<button type="submit">Post</button>
     </form>
	
}