.col1, .col2, .col3,.colinfo, .colu, .colu2, .col4, .cols {float:left}
.col {
	width: 100%;
	float: right;
	padding-right: 45px
}
.information{
	padding-left: 50px;
	width: 100%;
	height: 1100px;
	text-align: left;
	color: #FFF;
}
.information2{
	padding-left: 50px;
	width: 900px;
	height: 700px;
	text-align: left;
	color: #FFF;
}
	
.col1 {padding-left:80px;width:40%}
.col2 {
	padding-left: 80px;
	align: center;
	width: 40%;
	
}
.coles {
	padding-left: 20px;
	align: center;
	width: 100%;
	height: 30px;
}
	
.colu{padding-left:5px;width:100%;
text-align: center; padding-top:5px;
}
.colu2{padding-left:5px;width:100%;
text-align: center; font-size: 50px;
}
.colinfo{padding-left: 20px;
     width: 80%;
}
.calendrier{padding-left: 20px;
     width: 95%;
}
.col3 {width:266px;padding-left:30px}
.col4 {width:277px;padding-left:30px}
.cols {width:226px}
/* index.html */
#page1 .body1 {background:url(../images/avironprueba8.png) top no-repeat #fff }
#page1 .body2 {background:url(../images/bg_top_img.jpg) top center no-repeat}
#page1 h1 {padding:31px 0 0 217px}
#page1 #search {padding:38px 50px 0 0}
#page1 #menu {padding:32px 27px 0 0}
#page1 h2 {
	padding: 42px 0 21px 0;
	font-size: 16px;
}
#page1 header {
	padding-bottom: 33px;
	color: #666666;
}
/* index-1.html */
/* index-2.html */
/* index-3.html */
/* index-4.html */
#page5 .cols {width:90px}
/* index-5.html */
/* index-6.html */

.main2 {
	margin: 0 auto;
	width: 100%;
	font-size: 12px;
	height: 1500px;
}
.main3 {
	margin: 0 auto;
	width: 940px;
	font-size: 12px;
	height: 1100px;
}
#tablemod{
	width: 30%;
	float: left;
	padding-top: 10px;
}

#tablemod2{
	width: 30%;
	float: center;
	padding-top: 10px;
}
